<!doctype html>

<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>OSC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/css/vex.min.css" integrity="sha256-vT3Ea/TUa31pD4JeYO4GMsAKW9PlqG9l8d33SLPIKaw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/css/vex-theme-os.min.css" integrity="sha256-xK3QvNOCJ17izA2HaEC1oy9dKdEm8dbgTGZksqSllPQ=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Arsenal|Fira+Sans|Forum|Istok+Web|Roboto|Roboto+Condensed|Rubik" rel="stylesheet">
  {{template "page_css" .}}

  <style type="text/css">
    body {
        padding-top: 65px;
    }
    .bg-dark {
        background-color: #564A3D !important;
    }
    .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
    background-color: #564A3D;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top orange">
      <a class="navbar-brand" href="/">OSC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              {{if not .User.Email}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="login_drop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="login_drop">
                  <a class="dropdown-item" href="login?provider=cilogon">CiLogon</a>
                </div>
              </li>
              {{end}}
              {{if .User.Email}}

              <li class="nav-item">
                  <a class="nav-link" href="/upload">Uploads</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/resources">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="logout">Logout {{.User.Email}}</a>
              </li>
              {{end}}
          </ul>
      </div>
  </nav>
  <h3>{{template "title" .}}</h3>
  {{template "body" .}}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/js/vex.combined.min.js" integrity="sha256-H9ekWOkL3LfgvoPQ7IUVEpaLPbPH05vETReIKbUJWUg=" crossorigin="anonymous"></script>
  <script>vex.defaultOptions.className = 'vex-theme-os'</script>
  {{template "page_js" .}}
</body>

</html>

{{define "page_js"}}

{{end}}

{{define "page_css"}}
{{end}}

{{define "title"}}

{{end}}


{{define "body"}}

{{end}}
